# set the udev rule, make the device_port be fixed by air_quality_sensor
#
KERNEL=="ttyACM*", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="0043", ATTRS{serial}=="8543034313835141B090", MODE:="0777", SYMLINK+="air_quality_sensor"
